.btn {
  border: none;
  transition: all 0.3s ease;
  outline: none;
  font-size: 14px;
  line-height: 21px;
  font-family: var(--font-medium);
  background-color: transparent;
}

.btn_reset {
  width: inherit;
  height: inherit;
  background-color: transparent;
  text-align: start;
  color: var(--grey-500);
  transition: all 0.3s ease;
}

.btn_arrow-num:hover,
.btn_arrow-num:focus-visible,
.btn_reset:focus-visible,
.btn_reset:focus-visible + svg,
.btn_reset:hover + svg,
.btn_reset:hover {
  cursor: pointer;
  transition: all 0.3s ease;
  color: var(--blue-400);
}

.btn_arrow-num:active,
.btn_reset:active + svg,
.btn_reset:active {
  transition: all 0.3s ease;
  color: var(--blue-500-main);
}

.btn_apply {
  text-align: center;
  width: inherit;
  height: 40px;
  background-color: var(--blue-500-main);
  border-radius: 8px;
  color: var(--white);
}

.btn_pagination:hover,
.btn_pagination:focus-visible,
.btn_search:hover,
.btn_search:focus-visible,
.btn_apply:focus-visible,
.btn_apply:hover {
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: var(--blue-400);
}

.btn_pagination:hover,
.btn_pagination:focus-visible {
  border: 1px solid var(--blue-400);
}

.btn_search:active,
.btn_apply:active {
  transition: all 0.3s ease;
  background-color: var(--blue-600);
}

.btn_arrow-num {
  text-align: center;
  width: 12px;
  height: 12px;
  color: var(--grey-500);
  display: flex;
}

.btn_arrow-big {
  position: absolute;
  right: 12px;
  top: 9px;
  width: 24px;
  height: 24px;
  pointer-events: none;
  transition: all 0.3s ease;
  color: var(--grey-500);
}

.turn {
  color: var(--blue-500-main);
  transition: all 0.3s ease;
  transform: rotate(180deg);
}

.btn_search {
  position: absolute;
  right: 12px;
  top: 8px;
  width: 83px;
  text-align: center;
  height: 32px;
  background-color: var(--blue-500-main);
  border-radius: 8px;
  color: var(--white);
  transition: all 0.3s ease;
}

.btn_pagination {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--grey-300);
  line-height: 22px;
  background-color: var(--white);
  border-radius: 4px;
  transition: all 0.3s ease;
  font-family: var(--font-roboto);
  color: var(--grey-600);
}

.btn_pagination:disabled {
  border: 1px solid var(--grey-200);
  color: var(--grey-200);
  pointer-events: none;
}

.btn_pagination_active {
  background-color: var(--blue-500-main);
  border: 1px solid var(--blue-500-main);
  color: var(--white);
  transition: all 0.3s ease;
  pointer-events: none;
}

.btn_close-window {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 5px;
  right: 5px;
  transition: all 0.3s ease;
  color: var(--blue-500-main);
}

.btn_close-window:hover {
  cursor: pointer;
  transition: all 0.3s ease;
  color: var(--blue-600);
}

.btn_star {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  color: var(--grey-500);
  fill: none;
}

.btn_star:hover {
  transition: all 0.3s ease;
  cursor: pointer;
  color: var(--blue-400);
}

.btn_star-active {
  transition: all 0.3s ease;
  color: var(--blue-500-main);
  fill: var(--blue-500-main);
}
