.filter {
  width: 100%;
  height: 42px;
  background-color: var(--white);
  border: 1px solid var(--grey-300);
  border-radius: 8px;
  padding: 11px 36px 11px 12px;
  font-size: 14px;
  line-height: 20px;
  color: var(--black);
  transition: all 0.3s ease;
  appearance: none;
  -moz-appearance: textfield;
  outline: none;
}

.filter::placeholder {
  font-size: 14px;
  line-height: 20px;
  color: var(--grey-500);
}

.filter::-webkit-outer-spin-button,
.filter::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.filter:hover,
.filter:focus,
.filter:focus-visible {
  appearance: none;
  -moz-appearance: textfield;
  transition: all 0.3s ease;
  border: 1px solid var(--blue-500-main);
}

.number {
}

.text {
}
