.filter {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.btn-wrap {
  position: relative;
  width: 115px;
  height: 20px;
}

.wrapper-reset {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapper-input {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.wrapper-btn {
  position: absolute;
  top: 8px;
  right: 12px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.title {
  font-family: var(--font-bold);
  font-size: 20px;
  line-height: 20px;
}
