.logo {
  width: 30px;
  height: 30px;
}

.close {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 2px;
  right: 0;
  pointer-events: none;
  color: var(--grey-500);
}

.arrow_num {
  width: 12px;
  height: 12px;
  fill: none;
}

.arrow_big {
  fill: none;
  width: 16px;
  height: 8px;
}

.search {
  position: absolute;
  left: 12px;
  top: 16px;
  fill: none;
  width: 16px;
  height: 16px;
}

.star {
  fill: none;
  width: 22px;
  height: 22px;
}

.location {
  fill: none;
  width: 20px;
  height: 20px;
}

.pag_arrow {
  width: 12px;
  height: 12px;
  fill: none;
}

.turn_right {
  transform: rotate(90deg);
}

.turn_left {
  transform: rotate(270deg);
}

.close_window {
  width: 30px;
  height: 30px;
  pointer-events: none;
}

.error_wind {
  width: 30px;
  height: 30px;
  pointer-events: none;
  color: var(--blue-500-main);
}
