.logo {
  width: 30px;
  height: 30px;
}

.close {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 2px;
  right: 0;
  pointer-events: none;
  color: var(--grey-500);
}

.arrow_num {
  width: 12px;
  height: 12px;
  fill: none;
}

.arrow_big {
  fill: none;
  width: 16px;
  height: 8px;
}
