.wrapper {
  background-color: var(--white);
  border: 1px solid var(--grey-200);
  border-radius: 12px;
  position: relative;
}

.filter {
  padding: 20px;
  min-width: 315px;
  height: 360px;
}

.card {
  padding: 24px;
  width: 100%;
  position: relative;
}

.job {
  min-height: 157px;
}
