.wrapper {
  background-color: var(--white);
  border: 1px solid var(--grey-200);
  border-radius: 12px;
  position: relative;
}

.filter {
  padding: 20px;
  min-width: 315px;
  height: 360px;
}

.card {
  padding: 24px;
  width: 100%;
  position: relative;
}

.job {
  min-height: 157px;
}

@media (max-width: 890px) {
  .filter {
    position: absolute;
    top: 190px;
    z-index: var(--index-fitler);
    box-shadow: 0px 0px 15px 5px var(--blue-500-main);
    transition: all 0.3s ease;
  }

  .filter_open {
    left: 20px;
    transition: all 0.3s ease;
  }

  .filter_close {
    left: -350px;
    transition: all 0.3s ease;
  }
}

@media (max-width: 400px) {
  .filter {
    min-width: 280px;
  }
}
